<template>
  <b-notification
    type="is-grey"
    has-icon
    icon="house-user"
    :closable="closable"
  >
    <div class="recommendations">
      <h3 class="heading">Risk Level: 2</h3>
      <h1 class="title">Keep Isolated</h1>
      <strong>Protect yourself and others by staying isolated at home.</strong>

      <br />
      <br />

      <b-collapse
        :open="false"
        position="is-bottom"
        aria-id="contentIdForA11y1"
      >
        <a
          class="button is-small is-rounded is-primary is-inverted"
          slot="trigger"
          slot-scope="props"
          aria-controls="contentIdForA11y1"
          >{{
            !props.open ? "Show Recommendations" : "Hide Recommendations"
          }}</a
        >
        <div>
          <div class="rec">
            <p class="rec-title">
              <b-icon
                pack="fas"
                icon="hand-sparkles"
                size="is-small"
                style="margin-right: .5rem"
              ></b-icon
              >&emsp;Protect yourself and others
            </p>
            <p class="rec-subtext">
              Only go out if it's essential (like for food or medicine).
            </p>
            <p class="rec-subtext">If possible:</p>
            <ul>
              <li>Stay in a separate room</li>
              <li>Don't share a bathroom</li>
              <li>Use delivery or pickup</li>
            </ul>
          </div>
          <br />
          <div class="rec">
            <p class="rec-title">
              <b-icon
                pack="fas"
                icon="clipboard-check"
                size="is-small"
                style="margin-right: .5rem"
              ></b-icon
              >&emsp;Monitor symptoms
            </p>
            <p class="rec-subtext">
              Keep track of how you're feeling. If you start feeling worse or
              have new symptoms, contact a healthcare provider.
            </p>
            <br />
            <p class="rec-subtext">
              Continue staying isolated until you've met
              <a
                href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html"
                target="_blank"
                >criteria</a
              >
              from a local health authority or healthcare provider.
            </p>
          </div>
          <br />
          <div class="rec">
            <p class="rec-title">
              <b-icon
                pack="fas"
                icon="empty-set"
                size="is-small"
                style="margin-right: .5rem"
              ></b-icon
              >&emsp;Testing not recommended
            </p>
            <p class="rec-subtext">
              Based on your answers, the CDC does not recommend getting tested
              for COVID‑19 at this time.
            </p>
          </div>
          <br />
          <br />
        </div>
      </b-collapse>
    </div>
  </b-notification>
</template>

<script>
export default {
  data() {
    return {
      closable: false,
    };
  },
};
</script>

<style lang="scss" scoped>
.rec-title {
  font-weight: 800;
}
.rec-subtext {
  margin-left: 1.74rem;
}
ul li {
  list-style-type: disc;
  margin-left: 5rem;
}
h3.heading {
  color: rgb(219, 147, 32);
  font-weight: bold;
  font-size: 1rem;
}
</style>
