<template>
  <b-notification
    type="is-primary"
    has-icon
    icon="people-arrows"
    :closable="closable"
  >
    <div class="recommendations">
      <h3 class="heading">Risk Level: 1</h3>
      <h1 class="title">Maintain Social Distance</h1>
      <hr />
      <strong>Protect yourself and others by keeping a safe distance.</strong>
      <p>
        Keep 6 feet of space between yourself and others outside of your home.
      </p>
      <br />

      <b-collapse
        :open="false"
        position="is-bottom"
        aria-id="contentIdForA11y1"
      >
        <a
          class="button is-small is-rounded is-primary is-inverted"
          slot="trigger"
          slot-scope="props"
          aria-controls="contentIdForA11y1"
          >{{
            !props.open ? "Show Recommendations" : "Hide Recommendations"
          }}</a
        >
        <div>
          <div class="rec">
            <p class="rec-title">
              <b-icon
                pack="fas"
                icon="hand-sparkles"
                size="is-small"
                style="margin-right: .5rem"
              ></b-icon
              >&emsp;Protect yourself and others
            </p>
            <p class="rec-subtext">When in public:</p>
            <ul>
              <li>Don't gather in groups</li>
              <li>Avoid crowded places</li>
              <li>Wear a cloth face covering</li>
            </ul>
          </div>
          <br />
          <div class="rec">
            <p class="rec-title">
              <b-icon
                pack="fas"
                icon="empty-set"
                size="is-small"
                style="margin-right: .5rem"
              ></b-icon
              >&emsp;Testing not recommended
            </p>
            <p class="rec-subtext">
              Based on your answers, the CDC does not recommend getting tested
              for COVID‑19 at this time.
            </p>
          </div>
          <br />
          <br />
        </div>
      </b-collapse>
    </div>
  </b-notification>
</template>

<script>
export default {
  data() {
    return {
      closable: false,
    };
  },
};
</script>

<style lang="scss" scoped>
.rec-title {
  font-weight: 800;
}
.rec-subtext {
  margin-left: 1.74rem;
}
ul li {
  list-style-type: disc;
  margin-left: 5rem;
}
h3.heading {
  color: rgb(32, 219, 32);
  font-weight: bold;
  font-size: 1rem;
}
</style>
