<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.png">
  <script src="https://kit.fontawesome.com/2de108dbfa.js" crossorigin="anonymous"></script>
  <script src="https://cdn.usefathom.com/script.js" data-spa="auto" data-site="XDEGRGBH" defer></script>
  <title>Loading... - DENCAP COVID-19 Self-Assessment</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but DENCAP COVID-19 Self-Assessment doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>