<template>
  <div class="admin">
    <vue-headful title="Assessment - DENCAP COVID-19 Self-Assessment" />
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-head">
        <div class="container">
          <LoggedInNav />
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-2">Self-Assessment Results</h1>
          <h2 class="subtitle">
            Click the arrow to the left of the row to view details.
          </h2>
        </div>
      </div>
    </section>
    <section class="container admin-content">
      <b-table
        v-if="data"
        :data="data"
        :striped="isStriped"
        detailed
        detail-key="testId"
        :show-detail-icon="showDetailIcon"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
      >
        <template slot-scope="props">
          <b-table-column field="testId" label="Test ID" width="400">{{
            props.row.testId
          }}</b-table-column>

          <b-table-column field="name" label="Employee Name">{{
            props.row.name
          }}</b-table-column>
          <b-table-column field="employee" label="Employee Email">{{
            props.row.employee
          }}</b-table-column>

          <b-table-column field="risk" label="Assigned Risk Level" centered>
            <span
              class="tag is-large"
              :class="[
                { 'is-success': props.row.risk == 1 },
                { 'is-danger': props.row.risk == 2 },
              ]"
              >{{ props.row.risk }}</span
            >
          </b-table-column>

          <b-table-column field="date" label="Date" centered>{{
            props.row.timestamp | moment("MM/DD/YYYY")
          }}</b-table-column>
        </template>
        <template slot="detail" slot-scope="props">
          <div style="display: inline" class="details">
            <div class="columns">
              <div class="column is-4">
                <h3 class="heading">General</h3>
                <hr />
                <p>
                  Form Acknowledgement:
                  <span>{{
                    props.row.responses.acknowledgement ? "Yes" : "No"
                  }}</span>
                </p>
                <p>
                  Close Contact?:
                  <span>{{ props.row.responses.closeContact }}</span>
                </p>
                <p>
                  Temperature:
                  <span>{{ props.row.responses.temperature }}°F</span>
                </p>
              </div>
              <div class="column is-4">
                <h3 class="heading">Minor Reported Symptoms</h3>
                <hr />
                <ul>
                  <li
                    v-for="(symptom, index) in props.row.responses
                      .minorSymptoms"
                    :key="index"
                  >
                    <span>{{ symptom }}</span>
                  </li>
                </ul>
              </div>
              <div class="column is-4">
                <h3 class="heading">Major Reported Symptoms</h3>
                <hr />
                <ul>
                  <li
                    v-for="(symptom, index) in props.row.responses
                      .majorSymptoms"
                    :key="index"
                  >
                    <span>{{ symptom }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </template>
      </b-table>
    </section>
  </div>
</template>

<script>
import { db } from "@/main";
import LoggedInNav from "@/components/LoggedInNav";
export default {
  components: {
    LoggedInNav,
  },
  data() {
    return {
      data: [],
      isStriped: true,
      showDetailIcon: true,
    };
  },
  mounted() {
    this.fetchResults();
  },
  methods: {
    fetchResults() {
      db.collection("results")
        .orderBy("timestamp", "desc")
        .onSnapshot((querySnapshot) => {
          var resultsArray = [];
          querySnapshot.forEach(function(doc) {
            resultsArray.push(doc.data());
          });
          this.data = resultsArray;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.admin {
  background: rgb(247, 249, 252);
  background: radial-gradient(
    circle,
    rgba(247, 249, 252, 1) 0%,
    #c5cee0 100%
  ) !important;
  min-height: 100vh;
  padding-bottom: 10rem;
}
.admin-content {
  min-height: 400px;
  border-radius: 15px;
  margin-top: -4rem;
  padding: 1.5rem;
  background: white;
}
.details {
  span {
    font-weight: bold;
    color: #00024a;
  }
}
h3.heading {
  color: #00024a;
  font-weight: 600;
}
hr {
  margin: 0;
  margin-bottom: 1rem;
  background: #00024a;
  height: 1px;
}
</style>
