<template>
  <div class="assessment">
    <vue-headful title="Assessment - DENCAP COVID-19 Self-Assessment" />
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-head">
        <div class="container">
          <LoggedInNav />
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <img src="@/assets/dc_logo.svg" alt="DENCAP Logo" width="225" />
        </div>
      </div>
    </section>

    <section class="container form-wrapper">
      <div class="columns is-multiline">
        <div class="column active is-8 is-offset-2">
          <div class="title-wrapper has-text-centered">
            <h1 class="title">DENCAP COVID-19 Self Assessment</h1>
            <div class="columns">
              <div class="column is-6 is-offset-3">
                <h3 class="heading">Page {{ currentStep }}/{{ totalSteps }}</h3>
                <b-progress
                  type="is-primary"
                  :value="progressBar"
                  show-value
                  format="percent"
                ></b-progress>
              </div>
            </div>
          </div>
          <Acknowledgement v-if="currentStep == 1" />
          <Temp v-if="currentStep == 2" />
          <MajorSymptoms v-if="currentStep == 3" />
          <MinorSymptoms v-if="currentStep == 4" />
          <CloseContact v-if="currentStep == 5" />
          <Results v-if="currentStep == 6" />
        </div>
        <br />
        <br />
      </div>
    </section>
  </div>
</template>

<script>
import Acknowledgement from "@/components/Acknowledgement";
import MajorSymptoms from "@/components/MajorSymptoms";
import MinorSymptoms from "@/components/MinorSymptoms";
import CloseContact from "@/components/CloseContact";
import LoggedInNav from "@/components/LoggedInNav";
import Results from "@/components/Results";
import Temp from "@/components/Temp";
import { mapGetters } from "vuex";

export default {
  components: {
    LoggedInNav,
    Acknowledgement,
    Temp,
    MinorSymptoms,
    MajorSymptoms,
    CloseContact,
    Results,
  },
  data() {
    return {
      totalSteps: 6,
    };
  },
  computed: {
    ...mapGetters(["currentStep"]),
    progressBar() {
      return (this.currentStep / this.totalSteps) * 100;
    },
  },
  methods: {
    completeStep() {},
  },
};
</script>

<style lang="scss" scoped>
.assessment {
  background: rgb(247, 249, 252);
  background: radial-gradient(
    circle,
    rgba(247, 249, 252, 1) 0%,
    #c5cee0 100%
  ) !important;
  min-height: 100vh;
  padding-bottom: 10rem;
}

.active {
  min-height: 400px;
  border-radius: 15px;
  margin-top: -4rem;
  padding: 1.5rem;
  background: white;
  @media only screen and (max-width: 768px) {
    margin-top: -2rem;
    margin-left: 01.5rem;
    margin-right: 01.5rem;
  }
}
.title-wrapper {
  border-bottom: 2px solid #00024a;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
</style>
