<template>
  <div class="intro columns">
    <div class="column is-12">
      <br />
      <p>
        The safety of our employees, customers, families, and visitors remain
        DENCAP Dental Plans' and Healthy Michigan Dental’s overriding priority.
        Executive Management is monitoring the situation closely as the novel
        coronavirus (COVID-19) outbreak continues to evolve and spread globally,
        and will periodically update company guidance based on a combination of
        current recommendations from the Center for Disease Control,
        OSHA/MIOSHA, Department of Health and Human Services (including local
        and state health department) rulings and guidelines, and the World
        Health Organization.
        <br />
        <br />To prevent the spread of COVID-19 and reduce the potential risk of
        exposure to our employees and visitors, DENCAP is mandating a simple
        daily screening questionnaire. Your participation is important to help
        us take precautionary measures to protect you and everyone in this
        building. These responses will be recorded and archived. This tool is
        for informational purposes only and is not a medical diagnosis.
        <br />
        <br />
        Please do not close this window before completing the assessment - your
        progress will not be saved.
        <br />
        <br />Thank you for your time -- to begin, click the Get Started button
        below. <br />
      </p>
      <br />
      <br />
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button
            @click="completeStep"
            class="button is-primary is-medium"
            style="width: 200px"
          >
            Get Started
          </button>
        </div>
      </div>
      <br />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      acknowledgement: true,
    };
  },
  methods: {
    completeStep() {
      this.$store.commit("setAcknowledgement", this.acknowledgement);
      this.$store.commit("nextStep");
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  font-family: "Nunito Sans", sans-serif;
  color: #00024a;
  font-size: 1.75rem;
  font-weight: 800;
}
p {
  color: black;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
}
</style>
