<template>
  <div class="intro columns">
    <div class="column is-12">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="has-text-centered">
            <br />
            <h1 class="title">
              Have you had close contact or cared for someone who tested
              positive for COVID-19 within the past 14 days?
            </h1>
            <br />
            <b-field class>
              <b-radio-button
                expanded
                v-model="closeContact"
                native-value="No"
                size="is-medium"
                type="is-danger"
              >
                <b-icon icon="times-circle" pack="fal"></b-icon>
                <span>No</span>
              </b-radio-button>

              <b-radio-button
                v-model="closeContact"
                expanded
                native-value="Yes"
                size="is-medium"
                type="is-success"
              >
                <b-icon icon="check" pack="fal"></b-icon>
                <span>Yes</span>
              </b-radio-button>
            </b-field>
          </div>
        </div>
        <br />
        <br />
        <br />
      </div>
      <br />
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button
            :disabled="closeContact === undefined"
            @click="completeStep"
            class="button is-primary is-medium"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      closeContact: undefined,
    };
  },
  methods: {
    completeStep() {
      this.$store.commit("setCloseContact", this.closeContact);
      this.$store.commit("nextStep");
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  font-family: "Nunito Sans", sans-serif;
  color: #00024a;
  font-size: 1.75rem;
  font-weight: 800;
}
p {
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
</style>
