<template>
  <div class="intro columns">
    <div class="column is-12">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <br />
          <br />
          <center>
            <i class="fad fa-exclamation-triangle fa-4x" style="color:red"></i>
          </center>
          <div class="has-text-centered">
            <br />
            <h1 class="title">
              If this is an emergency, call 911 if you have any of the following
              conditions:
            </h1>
            <div>
              <ul class="emergency-list">
                <li>Constant chest pain or pressure</li>
                <li>Severe difficulty breathing</li>
                <li>Severe shortness of breath</li>
                <li>Severe, constant dizziness or lightheadedness</li>
                <li>Slurred speech</li>
                <li>Extreme difficulty waking up</li>
                <li>Any other extreme or life-threatening symptoms</li>
              </ul>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
      </div>
      <br />
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button @click="completeStep" class="button is-primary is-medium">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      emergencyConfirmation: true,
    };
  },
  methods: {
    completeStep() {
      this.$store.commit("setAcknowledgement", this.emergencyConfirmation);
      this.$store.commit("nextStep");
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  font-family: "Nunito Sans", sans-serif;
  color: #00024a;
  font-size: 1.75rem;
  font-weight: 800;
}
p {
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
li {
  list-style-type: circle;
}
.emergency-list {
  text-align: left;
  margin-left: 9rem;
  @media only screen and (max-width: 768px) {
    margin-left: 3rem;
  }
}
</style>
