<template>
  <div class="intro columns">
    <div class="column is-12">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <br />
          <div class="has-text-centered">
            <h1 class="title">In the last 2 weeks, did you:</h1>
            <h2 class="subtitle">Select all that apply</h2>
            <br />
            <br />
            <div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="lastTwoWeeks"
                  native-value="Contact"
                >Have close contact with someone who has COVID‑19</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="lastTwoWeeks"
                  native-value="IntTravel"
                >Travel internationally</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="lastTwoWeeks"
                  native-value="Widespread"
                >Live in or visit a place where COVID‑19 is widespread</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="lastTwoWeeks"
                  native-value="N/A"
                >None of the above</b-checkbox>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
      </div>
      <br />
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button
            :disabled="lastTwoWeeks.length == 0"
            @click="completeStep"
            class="button is-primary is-medium"
          >Next</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      lastTwoWeeks: []
    };
  },
  methods: {
    completeStep() {
      this.$store.commit("setLastTwoWeeks", this.lastTwoWeeks);
      this.$store.commit("setProgress", 85);
      this.$store.commit("setCurrentStep", "temp");
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-family: "Nunito Sans", sans-serif;
  color: #00024a;
  font-size: 1.75rem;
  font-weight: 800;
}
p {
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
.field {
  &.symptom {
    border: 1px solid #c5cee0;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 1.4rem;
    text-align: left;
  }
}
</style>
