<template>
  <b-navbar>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img src="@/assets/dc_logo.svg" width="112" height="28" />
      </b-navbar-item>
    </template>

    <template slot="end">
      <b-navbar-item tag="p">
        Welcome back, {{ userAuthData.displayName }}
      </b-navbar-item>
      <b-navbar-item v-if="isAdmin">
        <router-link to="/admin" class="button is-success is-rounded">
          Admin - View Results
        </router-link>
      </b-navbar-item>
      <b-navbar-item tag="div">
        <a @click="signOut" class="button is-light is-outlined is-rounded">
          <b-icon
            icon="sign-out"
            pack="fal"
            size="is-small"
            style="margin-top: .175rem;margin-right: .25rem"
          ></b-icon
          >Log Out
        </a>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
import { mapGetters } from "vuex";
import firebase from "@firebase/app";
import "@firebase/auth";
export default {
  data() {
    return {
      admins: [
        "spalmer@hmidental.com",
        "ddorsch@dencap.com",
        "pstigall@hmidental.com",
        "kmott@dencap.com",
        "tbailey@dencap.com",
        "tbailey@hmidental.com",
        "ekelley@dencap.com",
        "jtlentine@dencap.com",
      ],
    };
  },
  computed: {
    ...mapGetters(["userAuthData"]),
    isAdmin() {
      if (this.admins.includes(this.userAuthData.email)) return true;
      else return false;
    },
  },
  methods: {
    signOut() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$store.commit("resetAssessment");
          this.$router.replace("login");
        })
        .catch(function(error) {
          alert(error.message);
        });
    },
    resetState() {
      this.$store.dispatch("resetGlobalState");
    },
  },
};
</script>

<style lang="scss" scoped>
a:hover {
  color: ghostwhite !important;
}
</style>
