<template>
  <div class="intro columns">
    <div class="column is-12">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <br />
          <br />
          <div class="has-text-centered">
            <h1 class="title">In the past 24 hours, have you experienced:</h1>
            <h2 class="subtitle">Select all that apply</h2>
            <div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="Fever"
                  >Fever, chills, or sweating</b-checkbox
                >
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="TroubleBreathing"
                  >Shortness of breath</b-checkbox
                >
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="NewCough"
                  >New or worsening cough</b-checkbox
                >
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="No Taste/Smell"
                  >Loss of taste or smell</b-checkbox
                >
              </div>
              <br /><br />
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="N/A"
                  >None of the above</b-checkbox
                >
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
      </div>
      <br />
      <br /><br />
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button
            :disabled="symptoms.length == 0"
            @click="completeStep"
            class="button is-primary is-medium"
            style="width: 200px"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MajorSymptoms",
  data() {
    return {
      symptoms: [],
    };
  },
  methods: {
    completeStep() {
      this.$store.commit("setMajorSymptoms", this.symptoms);
      this.$store.commit("nextStep");
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  font-family: "Nunito Sans", sans-serif;
  color: #00024a;
  font-size: 1.75rem;
  font-weight: 800;
}
p {
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
.field {
  &.symptom {
    border: 1px solid #c5cee0;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 1.4rem;
    text-align: left;
  }
}
</style>
