<template>
  <div class="intro columns is-multiline">
    <div v-if="generatingResults" class="column is-8 is-offset-2">
      <br />
      <br />
      <h1 class="title has-text-centered">The assessment is complete!</h1>
      <br />
      <h2 class="subtitle" style="line-height: 2rem">
        Thank you for completing the self-assessment, you can view your results
        below.
        <br /><br />
        If you received a risk level of 1, you may work in the DENCAP building
        following guidelines set by the Safety Team.
      </h2>
      <strong>
        You will be automatically logged out in 30 seconds.
      </strong>
      <b-message type="is-primary"
        >This assessment does not replace the judgement of healthcare
        professionals or the performance of any clinical assessment. Please
        continue to follow recommendations from healthcare
        professionals.</b-message
      >
      <br />
      <Risk1Rec v-if="risk == 1" />
      <Risk2Rec v-if="risk == 2" />
      <br />
      <center>
        <a @click="signOut" class="button is-text is-outlined is-rounded">
          <b-icon
            icon="sign-out"
            pack="fal"
            size="is-small"
            style="margin-top: .175rem;margin-right: .25rem"
          ></b-icon
          >Log Out
        </a>
      </center>

      <br />
      <br />
    </div>
  </div>
</template>

<script>
import { db } from "@/main";
import { mapGetters } from "vuex";
import { v4 as uuidv4 } from "uuid";
import Risk1Rec from "@/components/Results/Risk1Rec";
import Risk2Rec from "@/components/Results/Risk2Rec";
import firebase from "@firebase/app";
import "@firebase/auth";
export default {
  components: {
    Risk1Rec,
    Risk2Rec,
  },
  data() {
    return {
      closable: false,
      generatingResults: true,
      loadingMessage: undefined,
      risk: undefined,
    };
  },
  computed: {
    ...mapGetters(["userAuthData", "responses"]),
  },
  mounted() {
    this.determineRisk(this.responses);
    this.confetti();
  },
  methods: {
    determineRisk(data) {
      if (data.temperature > 100.4) this.risk = 2;
      else if (data.minorSymptoms.length >= 2) this.risk = 2;
      else if (!data.majorSymptoms.includes("N/A")) this.risk = 2;
      else if (!data.closeContact == "Yes") this.risk = 2;
      else this.risk = 1;

      this.logResult();
    },
    async logResult() {
      //* don't log to database if testing locally
      const LOCAL_DOMAINS = ["localhost", "127.0.0.1", ""];
      if (LOCAL_DOMAINS.includes(window.location.hostname)) return;
      //*

      let data = {
        testId: uuidv4(),
        responses: this.responses,
        risk: this.risk,
        name: this.userAuthData.displayName,
        employee: this.userAuthData.email,
        timestamp: this.$moment().valueOf(),
      };
      db.collection("results")
        .doc(data.testId)
        .set(data);
    },
    confetti() {
      this.$confetti.start();
      setTimeout(() => {
        this.$confetti.stop();
      }, 2500);
      setTimeout(() => {
        this.signOut();
      }, 30000);
    },
    signOut() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$store.commit("resetAssessment");
          this.$router.replace("login");
        })
        .catch(function(error) {
          alert(error.message);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  font-family: "Nunito Sans", sans-serif;
  color: #00024a;
  font-size: 1.75rem;
  font-weight: 800;
}
p {
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
.field {
  &.symptom {
    border: 1px solid #c5cee0;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 1.4rem;
    text-align: left;
  }
}
hr {
  margin: 0.25rem 0;
}
</style>
