<template>
  <div class="intro columns">
    <div class="column is-12">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <br />
          <div class="has-text-centered">
            <h1 class="title">Do you have any of these symptoms?</h1>
            <h2 class="subtitle">Select all that apply</h2>
            <div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="Fever"
                >Fever, chills, or sweating</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="TroubleBreathing"
                >Shortness of breath</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="NewCough"
                >New or worsening cough</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="SoreThroat"
                >Sore throat</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="MuscleAches"
                >Muscle aches</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="Nausea/Vomiting"
                >Nausea or vomiting</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="Headache"
                >Headache</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="AbdominalPain"
                >Abdominal pain</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="RunnyNose"
                >Runny nose</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox
                  size="is-medium"
                  v-model="symptoms"
                  native-value="No Taste/Smell"
                >Loss of taste or smell</b-checkbox>
              </div>
              <div class="field symptom">
                <b-checkbox size="is-medium" v-model="symptoms" native-value="N/A">None of the above</b-checkbox>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
      </div>
      <br />
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button
            :disabled="symptoms.length == 0"
            @click="completeStep"
            class="button is-primary is-medium"
          >Next</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      symptoms: []
    };
  },
  methods: {
    completeStep() {
      this.$store.commit("setSymptoms", this.symptoms);
      this.$store.commit("setProgress", 87.5);
      this.$store.commit("setCurrentStep", "temp");
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-family: "Nunito Sans", sans-serif;
  color: #00024a;
  font-size: 1.75rem;
  font-weight: 800;
}
p {
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
.field {
  &.symptom {
    border: 1px solid #c5cee0;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 1.4rem;
    text-align: left;
  }
}
</style>
