<template>
  <div class="intro columns">
    <div class="column is-12">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <br />
          <div class="has-text-centered">
            <h1 class="title">What is your temperature today?</h1>
            <br />
            <b-input
              placeholder="Enter your temperature"
              size="is-large"
              type="number"
              v-model="temp"
            ></b-input>
            <br />
          </div>
        </div>
        <br />
        <br />
        <br />
      </div>
      <br />
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button
            :disabled="!temp"
            @click="completeStep"
            class="button is-primary is-medium"
            style="width: 200px"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      temp: undefined,
    };
  },
  methods: {
    completeStep() {
      this.$store.commit("setTemperature", this.temp);
      this.$store.commit("nextStep");
    },
  },
};
</script>

<style lang="scss" scoped>
.title {
  font-family: "Nunito Sans", sans-serif;
  color: #00024a;
  font-size: 1.75rem;
  font-weight: 800;
}
p {
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
.field {
  &.symptom {
    border: 1px solid #c5cee0;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 1.4rem;
    text-align: left;
  }
}
</style>
