<template>
  <div class="intro columns">
    <div class="column is-12">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <br />
          <div class="has-text-centered">
            <h1
              class="title"
            >Do you work or volunteer in a healthcare setting, or plan to in the next 2 weeks?</h1>
            <br />
            <h2
              class="subtitle"
            >Such as a hospital, nursing home, long-term care facility, or first-responder service</h2>
            <br />
            <br />
            <b-field class>
              <b-radio-button
                expanded
                v-model="VolunteerHealthcare"
                native-value="No"
                size="is-medium"
                type="is-danger"
              >
                <b-icon icon="times-circle" pack="fal"></b-icon>
                <span>No</span>
              </b-radio-button>

              <b-radio-button
                v-model="VolunteerHealthcare"
                expanded
                native-value="Yes"
                size="is-medium"
                type="is-success"
              >
                <b-icon icon="check" pack="fal"></b-icon>
                <span>Yes</span>
              </b-radio-button>
            </b-field>
          </div>
        </div>
        <br />
        <br />
        <br />
      </div>
      <br />
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button
            :disabled="!VolunteerHealthcare"
            @click="completeStep"
            class="button is-primary is-medium"
          >Next</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      VolunteerHealthcare: undefined
    };
  },
  methods: {
    completeStep() {
      this.$store.commit("setVolunteerHealthcare", this.VolunteerHealthcare);
      this.$store.commit("setProgress", 71);
      this.$store.commit("setCurrentStep", "lastTwoWeeks");
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-family: "Nunito Sans", sans-serif;
  color: #00024a;
  font-size: 1.75rem;
  font-weight: 800;
}
p {
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
.field {
  &.symptom {
    border: 1px solid #c5cee0;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 1.4rem;
    text-align: left;
  }
}
</style>
